/* Styling for everything else: */

body {
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}


/* Styling for the Umpire Indicator: */

:root {
	--first-color: rgb(240, 242, 245);
	--fourth-color: rgb(255, 255, 255);
	--second-color: rgb(28, 30, 33);
	--third-color: rgb(49, 101, 246);
}

#UmpireIndicator {
	background-color: var(--first-color);
	border-radius: 20px;
	color: var(--second-color);
	margin: 0 auto;
	padding: 10px;
	width: 90vw;
}

#UmpireIndicator h1 {
	margin-bottom: 0;
	text-align: center;
}

#UmpireIndicator ul {
	list-style-type: none;
	margin: 0 auto;
	padding-left: 0;
}

#UmpireIndicator li {
	align-items: end;
	border: 1px solid var(--second-color);
	border-radius: 10px;
	display: flex;
	font-size: 1.4em;
	justify-content: space-between;
	margin: 15px;
	padding: 5px;
}

#UmpireIndicator output {
	font-weight: bold;
}

#UmpireIndicator button {
	background-color: var(--third-color);
	border-radius: 10px;
	color: var(--fourth-color);
	font-size: 1.1em;
	height: 50px;
	padding: 0;
	width: 50px;
}

@media screen and (min-width: 334px) {

	#UmpireIndicator {
		width: 300px;
	}

	#UmpireIndicator ul {
		width: 70%;
	}

}
